body {
  margin: 10px;

  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

h1 {
  margin: 0px;
}

h1,
h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
}
h2 {
  font-size: 15px;
  padding: 2px;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  text-transform: capitalize;
}

section {
  border: 2px solid gray;
  border-radius: 50% 50%;
  margin: 60px 100px;
  padding: 40px 0px;
  margin-top: 30px;
  box-shadow: 1px 1px 5px gray;
  line-height: 4px;
}

h3 {
  font-size: 15px;
}

h4 {
  text-align: center;
  margin: 100px;
  font-weight: lighter;
  font-size: 15px;
  color: #40291f;
}

a {
  text-decoration: none;
}

.open-source {
  text-decoration: none;
}
.open-source:hover {
  text-decoration: underline;
  color: #198754;
}

.coder {
  text-decoration: none;
  color: #198754;
}
.coder:hover {
  text-decoration: underline;
}

.container {
  max-width: 610px;
  border: 2px solid rgb(208, 208, 216);
  border-radius: 16px;
  padding: 20px 46px 40px 30px;
  background: #f3efef;
}

.locator {
  margin: 40px auto 10px auto;
  display: inline-block;
}

.current {
  position: relative;
  display: block;
  margin-top: -64px;
  margin-left: 382px;
  margin-bottom: 30px;
  padding: 8px;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  background: #f8f9fa;
  color: rgb(90, 88, 88);
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

.current:hover {
  background-color: #198754;
  color: #dee2e6;
  border: 1px solid #198754;
}

.updated {
  text-align: left;
  font-size: 11px;
  margin: 0;
}

.update {
  font-size: 15px;
}
.mainDate {
  font-size: 21px;
  color: rgb(90, 88, 88);
}

.mainDay {
  font-size: 24px;
}

.mainDescription {
  font-size: 20px;
  color: rgb(90, 88, 88);
  text-transform: capitalize;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 40px;
  font-weight: 400;
  line-height: 0;
}

.units {
  position: relative;
  top: -15px;
  font-size: 20px;
}

.highLow {
  margin: 5px;
  font-weight: bold;
}
.high {
  font-weight: bold;
  color: rgb(113, 5, 5);
}

.highF {
  color: rgb(68, 66, 66);
  font-weight: 400;
}

.low {
  font-weight: bold;
  color: rgb(5, 5, 116);
  padding-left: 10px;
}

.lowF {
  color: rgb(68, 66, 66);
  font-weight: 400;
}
.precipitation {
  margin: 8px;
  font-weight: bold;
}
.moisture {
  font-weight: bolder;
}

.percent {
  color: rgb(68, 66, 66);
  font-weight: 400;
  font-size: 15px;
}

.viento {
  font-weight: bolder;
}

.wind {
  margin: 5px;
  font-weight: bold;
}

.speed {
  color: rgb(68, 66, 66);
  font-weight: 400;
}

.col-2 {
  text-align: center;
  padding-right: 20px;
}

.weather-forecast-day {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.weather-forecast-date {
  font-size: 12px;
  font-weight: 400;
  margin: 4px auto;
  color: rgb(90, 88, 88);
}

.temp {
  font-size: 15px;
  font-weight: 600;
  margin: 6px auto 15px;
}

.weather-forecast-img {
  font-size: 40px;
}

.weather-forecast-temperatures {
  font-size: 10px;
}

.weather-forecast-temperature-max {
  font-size: 14px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
  font-size: 14px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
